body {
    width: 15em;
    height: 15em;
}

.popup-padded {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.center {
    text-align: center;
}

.icon-image {
    position: absolute;
    top: 6em;
    left: 4em;
    width: 52%;
}

.inline-text {
    position: absolute;
    top: 52px;
    left: 45px;
    font-size: 15px;
}

.center-position {
    position: absolute;
    top: -6px;
    left: 3px;
    width: 100%;
}

.cursor {
    cursor: pointer;
}

.input-field {
    position: absolute;
    top: 162px;
    left: 8px;
}